# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
.env.*
!.env.example

# Hugging Face Hub
.cache/
.huggingface/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
